.about-me {
  margin-top: 10px;
  margin-left: 533px;
  padding: 20px 2% 20px 4%;
  width: 15%;
  background-color: #1e1e1e;
}
.about-me-h4 {
  display: block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.about-me-p {
  display: block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
